<main>
    <section class="form-section">
        <img class = "logoP" src="assets/svg/logoTTT.png"/>
        <h2>{{title}}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button 
                class="btn-primary" 
                (click)="submit()"
                [disabled]="disablePrimaryBtn"
            >
                {{primaryBtnText}}
            </button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">{{secondaryBtnText}}</button>
        </div>
    </section>
    <section class="main-section">
        <h1>We are the future!</h1>
        <img src="assets/svg/logoTTT.png"/>
    </section>
</main>